<ion-view title="WFTO - Poster Generator" hide-nav-bar="true">
  <ion-content scroll="x" has-bouncing="true" padding="true" ng-controller="PosterGeneratorCtrl">
    <div style="width: 23%; height: 100%; margin-left:2%; margin-right:0px; float: right">
      <div class="card">
        <div style="width: 100%;  border-color: #e6b500; background-color: #ffc900;
    color: #fff; text-align: center;">
          <h3 style="color: #fff;padding-top: 5px; padding-bottom: 5px;"
          class="title">
            Anti Poverty Week
          </h3>
        </div>
        <div style="margin-top: 5px;margin-left:5%; margin-right:5%;">
          <h4 style="text-align: center; ">
            <span style="font-style: italic;">16-22 October 2016</span><!--<br>
            Human chains for <span style="color: #fdac33;">Fair Trade</span>
            and <span style="color: #fdac33;">Planet</span>-->
          <h4>
        </div>
      </div>
      <div>
        <button class="button button-positive button-block icon-right ion-image" ng-click="addMedia()">Take photo</button>
        <button class="button button-calm button-block icon-right ion-share" ng-click="shareImage()" ng-disabled="!imageLoaded">Share</button>
        <button class="button button-energized button-block icon-right ion-link" ng-click="goWfto()">WFTO</button>
      </div>
    </div>
    <div style="margin: 0 0; width:75%">
      <img src="img/poster-template-landscape.png" style="width: 100%; height: auto; background-image:url({{urlForLastImage}}); background-position: center center; background-size: cover; background-repeat: no-repeat; position: relative;">
    </div>
  </ion-content>
</ion-view><canvas id="tempCanvas"></canvas>
